
img {
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}

