<!-- <p *ngFor='let actores of allActores | async'>
    {{actores | json}}
    
  </p> -->
  <!-- <div *ngFor='let actores of allActores  | async'>
    <img src = "{{actores.thumbnail.path}}.{{actores.thumbnail.extension}}">
  </div> -->

  <ng-container *ngFor="let item of allActores">
    <img src = "{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
    </ng-container>
    
  <!-- <table>
    <thead>
       <tr>
          <th>#ID</th>
          
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of allActores | async">
          <!-- <th>{{ item.thumbnail.path }}.{{item.thumbnail.extension}}</th> -->
          <!-- <img src = "{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
          -->
       <!-- </tr> 
    </tbody>
 </table> --> -->

 
 
  
