<!-- <p *ngFor='let actores of allActores | async'>
    {{actores | json}}
    
  </p> -->
  <!-- <div *ngFor='let actores of allActores  | async'>
    <img src = "{{actores.thumbnail.path}}.{{actores.thumbnail.extension}}">
  </div> -->

  
    
  <table>
    <thead>
       <tr *ngFor="let item of allActores | async">
          <th><img src = "{{item.thumbnail.path}}.{{item.thumbnail.extension}}"></th>    
          <th><img src = "{{item.thumbnail.path}}.{{item.thumbnail.extension}}"></th>  
          <th></th>  
              
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of allActores | async">
          <th>{{ item.thumbnail.path }}.{{item.thumbnail.extension}}</th>
           <img src = "{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
          
    </tr>  
    </tbody>
 </table> 

 

 <!-- <div fxFill fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row wrap">
      <ng-container *ngFor="let image of data">
          <img [src]="image.url">
      </ng-container>
    </div>
  
    <mat-paginator [length]="data2.length"
                  [pageSize]="size"
                  [pageIndex]="page"
                  [pageSizeOptions]="[4, 8, 12]"
                  (page)="getData($event)">
    </mat-paginator>
  </div> -->

  <div class="container">
   <div class="row">
     <div class="col">col</div>
     <div class="col">col</div>
     <div class="w-100"></div>
     <div class="col">col</div>
     <div class="col">col</div>
   </div>
 </div>


 
 
  
